.places {
	display: flex;
	flex-direction: column;
	gap: 80px;
	max-width: 100%;
	margin: auto;
	padding: 92px 148px 0;
}

@media (max-width: 1024px) {
	.places {
		padding: 92px 48px 0;
	}
}

@media (max-width: 768px) {
	.places {
		padding: 88px 24px 0;
	}
}

@media (max-width: 320px) {
	.places {
		padding: 64px 0 0;
	}
}