.place__title {
	margin: 0;
	color: white;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	max-width: 460px;
}

@media screen and (max-width: 1024px) {
	.place__title {
		max-width: 440px;
	}
}


@media screen and (max-width: 768px) {
	.place__title {
		max-width: 340px;
		font-size: 42px;
		line-height: 46px;
	}
}

@media screen and (max-width: 752px) {
	.place__title {
		margin-left: 10px;
	}
}


@media screen and (max-width: 320px) {
	.place__title {
		margin-left: 16px;
		font-size: 32px;
		line-height: 35px;
	}
}