.place__image {
	width: 460px;
	object-fit: contain;
	grid-row: span 3;
}

@media (max-width: 1024px) {
	.place__image {
		width: 440px;
	}
}

@media (max-width: 768px) {
	.place__image {
		width: 340px;
	}
}

@media (max-width: 320px) {
	.place__image {
		width: 320px;
	}
}