.places {
	display: flex;
	flex-direction: column;
	gap: 80px;
	max-width: 984px;
	margin: auto;
	padding-top: 92px;
}

@media screen and (max-width: 1024px) {
	.places {
		max-width: 928px;
	}
}

@media screen and (max-width: 960px) {
	.places {
		max-width: 97%;
	}
}

@media screen and (max-width: 768px) {
	.places {
		max-width: 720px;
		padding-top: 88px;
		gap: 73px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 767px) {
	.places {
		max-width: 97%;
	}
}

@media screen and (max-width: 320px) {
	.places {
		max-width: 100%;
		gap: 50px;
		padding-top: 64px;
	}
}