.header {
	display: flex;
	max-width: 100%;
	margin: 28px auto 0px auto;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 1207px) {
	.header {
		max-width: 95%;
	}
}

@media screen and (max-width: 1024px) {
	.header {
		max-width: 928px;
	}
}

@media screen and (max-width: 1023px) {
	.header {
		max-width: 95%;
	}
}

@media screen and (max-width: 768px) {
	.header {
		max-width: 720px;
	}

}

@media screen and (max-width: 767px) {
	.header {
		max-width: 95%;
	}

}

@media screen and (max-width: 320px) {
	.header {
		max-width: 288px;
		margin: 16px auto 0px auto;
	}

}