.place__paragraph {
	margin: 0;
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29.34px;
	max-width: 100%;
}


@media (max-width: 768px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 26.08px;
	}
}

@media (max-width: 320px) {
	.place__paragraph {
		padding: 0 16px 0;
	}
}