.cover__subtitle {
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	max-width: 360px;
	padding-top: 32px;
	margin: 0;
}

@media (max-width: 575px) {
	.cover__subtitle {
		font-size: 14px;
		line-height: 16px;
	}
}


@media (max-width: 320px) {
	.cover__subtitle {
		font-size: 14px;
		line-height: 16px;
	}
}