.place__title {
	margin: 0;
	padding-bottom: 21px;
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 76px;
	max-width: 100%;
}

@media (max-width: 768px) {
	.place__title {
		font-size: 42px;
		line-height: 46px;
		padding-bottom: 23px;
	}
}

@media (max-width: 320px) {
	.place__title {
		font-size: px;
		line-height: 35px;
		padding: 0 16px 5px;
	}
}