.footer__link {
	display: block;
	color: white;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	margin: 0;
}

@media screen and (max-width: 675px) {
	.footer__link {
		font-size: 24px;
		line-height: 24px;
		min-height: 24px;
	}
}