.footer__copyright {
	margin: 0;
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-align: right;
}

@media (max-width: 675px) {
	.footer__copyright {
		text-align: left;
	}
}

@media (max-width: 320px) {
	.footer__copyright {
		text-align: left;
	}
}