.place__paragraph {
	margin: 0;
	padding: 0;
	color: white;
	font-family: 'Inter', 'Arial', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	max-width: 100%;
	box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
	.place__paragraph {
		line-height: 29.34px;
	}
}


@media screen and (max-width: 768px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 26px;
	}
}

@media screen and (max-width: 752px) {
	.place__paragraph {
		padding-left: 10px;
	}
}

@media screen and (max-width: 320px) {
	.place__paragraph {
		max-width: 288px;
		padding-left: 16px;
		box-sizing: content-box;
		line-height: 26px;
	}
}