.header {
	display: flex;
	max-width: 100%;
	padding: 0 48px 0;
	margin: 28px auto 0px auto;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 768px) {
	.header {
		padding: 0 24px 0;
	}
}

@media (max-width: 320px) {
	.header {
		padding: 0 16px 0;
		margin: 16px auto 0px auto;
	}

}