.cover {
	background-image: url("../.././images/cover-trains.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1184px;
	margin: 92px auto 0;
	box-sizing: border-box;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
	.cover {
		max-width: 1024px;
	}
}

@media screen and (min-width: 320px) and (max-width: 768px) {
	.cover {
		max-width: 100%;
		max-height: 480px;
		margin: 90px auto 0;
	}
}

@media screen and (max-width: 738px) {
	.cover {
		max-height: 400px;
	}
}

@media screen and (max-width: 470px) {
	.cover {
		max-width: 470px;
	}
}

@media screen and (max-width: 320px) {
	.cover {
		max-width: 320px;
		max-height: 200px;
		margin: 66px auto 0;
	}
}