.lead {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 56px 148px 0;
	margin: 0 auto;
	max-width: 100%;
	box-sizing: border-box;
}

@media (max-width: 1024px) {
	.lead {
		padding: 48px 48px 0;
	}
}

@media (max-width: 768px) {
	.lead {
		padding: 48px 0 0;
	}
}

@media (max-width: 320px) {
	.lead {
		padding: 40px 0 0;
	}
}