.place {
	display: grid;
	max-width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto auto auto;
	column-gap: 40px;
	row-gap: 27px;
	margin: 0;
	padding: 0;
}


@media (max-width: 768px) {
	.place {
		row-gap: 25px;
	}
}

@media (max-width: 675px) {
	.place {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (max-width: 320px) {
	.place {
		grid-template-columns: repeat(1, 1fr);
	}
}