.footer {
	display: flex;
	max-width: 100%;
	margin: auto;
	justify-content: space-between;
	padding-top: 92px;
}

@media (max-width: 1024px) {
	.footer {
		max-width: 928px;
		padding-top: 88px;
	}
}

@media (max-width: 768px) {
	.footer {
		max-width: 720px;
		padding-top: 88px;
	}
}

@media (max-width: 675px) {
	.footer {
		padding-top: 64px;
		flex-direction: column;
		gap: 48px;
	}
}

@media (max-width: 320px) {
	.footer {
		padding-top: 64px;
		flex-direction: column;
		gap: 48px;
	}
}