.intro {
	display: flex;
	flex-direction: column;
	max-width: 984px;
	padding-top: 92px;
	margin: 0 auto;
}


@media (max-width: 1024px) {
	.intro {
		max-width: 928px;
		padding-top: 92px;
	}
}

@media (max-width: 768px) {
	.intro {
		max-width: 720px;
		padding-top: 88px;
	}
}

@media (max-width: 320px) {
	.intro {
		max-width: 288px;
		padding-top: 64px;
	}
}