.footer__link {
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-decoration: none;
	padding-right: 18px;
	padding-bottom: 24px;
}

@media (max-width: 675px) {
	.footer__link {
		font-size: 24px;
		line-height: 24px;
		padding-bottom: 32px;
	}
}

@media (max-width: 320px) {
	.footer__link {
		font-size: 24px;
		line-height: 24px;
		padding-bottom: 32px;
	}
}